<br />
<br />
<br />
<br />
<br />
<br />
<h3>Get book by ID</h3>
<br />
<br />


<div class="input-group">
    <input placeholder="Id" @bind="FoundedId" />
</div>
<div class="btn-block">
    <button class="btn btn-dark" @onclick="()=>QueryService.GetByIdAsync(FoundedId)">
        Find book
    </button>
</div>

<table class="table table-striped mr-5">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (QueryService.Book is null)
        {
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        else
        {

            <tr>
                <td>@QueryService.Book.Id</td>
                <td>@QueryService.Book.Name</td>
                <td>@QueryService.Book.Price</td>
            </tr>
        }
    </tbody>
</table>
