<br />
<br />
<br />
<br />
<br />
<h1>Add book</h1>
<br />
<br />

<div class="input-group">
    <input placeholder="Name" @bind="NameOfNewBook" />
    <input placeholder="Price" @bind="PriceOfNewBook" />
</div>
<div class="btn-block">
    <button class="btn btn-dark" @onclick="()=>AddBookAsync(NameOfNewBook, Convert.ToDouble(PriceOfNewBook))">
        Add book
    </button>
</div>
